.ember-power-select-option[aria-current="true"] {
  @apply bg-gray-300 text-gray-800 border-red-800;
}

.ember-power-select-trigger  {
  @apply block w-full py-1 px-1 pr-10 text-sm border border-gray-300 rounded-md shadow-sm transition duration-150 ease-in-out;
  min-height: 2.7em !important;
  min-width: 14em;
}

.ember-basic-dropdown-content {
  @apply whitespace-nowrap;
	position: absolute;
	width: auto;
}

.ember-power-select-trigger-multiple-input {
  display: block !important;
  float: none !important;
  margin-left: 3px;
  width: 99% !important;
  border: 2px red solid;
}
