/* Styles for toggle BUTTONS */

.action-button  {
  @apply relative inline-flex items-center ml-2 mr-1 px-4 py-2 border border-transparent
  text-sm leading-5 font-medium rounded-md text-white bg-blue-600 shadow-sm
  transition ease-in-out duration-150;
}

.toggle-button {
  @apply text-gray-600 leading-none;
}

.toggle-check {
  @apply hidden;
}

.toggle-button .toggle-check:checked ~ .toggle-label {
  @apply bg-gray-700 border-gray-700 text-white;
}

.toggle-button .toggle-label {
    @apply block -ml-px py-2 px-4 relative cursor-pointer rounded-md shadow-sm
          border border-gray-300 text-sm leading-5 font-medium text-center
          transition ease-in-out duration-150 bg-white text-gray-700;

}

.toggle-button .toggle-label:hover {
    @apply bg-gray-200;
}

.toggle-button .toggle-label:focus {
    @apply outline-none z-10 border-blue-300;
}

.toggle-button-container {
  @apply relative z-0 inline-flex shadow-sm flex-wrap;
}

.toggle-button-container div:first-of-type > label {
  @apply rounded-l-md;
}

.toggle-button-container div:last-of-type > label {
  @apply rounded-r-md;
}
