@import "base-classes";

h1 {
  /* @apply text-3xl m-0 text-center text-primary heading; */
  @apply text-3xl m-0 text-center text-primary heading;
}

h2 {
  @apply text-2xl text-center text-gray-900 heading;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-base font-bold;
}

h5, h6, big {
  @apply text-base font-bold;
}

@screen sm {
  h1 {
    @apply text-4xl heading;
  }

  h2 {
    @apply text-2xl heading;
  }

  h3 {
    @apply text-xl heading;
  }

  h4 {
    @apply text-xl heading;
  }

  h5, h6, big {
    @apply text-lg heading;
  }
}

@screen md {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl heading;
  }

  h4 {
    @apply text-2xl heading;
  }
}

p {
  @apply pb-2;
}

ul li:nth-child(even) {
  @apply bg-gray-100;
}


.ember-power-select-option[aria-current="true"] {
  @apply bg-gray-300 text-gray-800 border-red-800;
}

.ember-power-select-trigger  {
  @apply mt-1 block w-full py-1 px-1 pr-10 text-sm border border-gray-300 rounded-md shadow-sm transition duration-150 ease-in-out;
  min-height: 2.7em !important;
  min-width: 14em;
}

.ember-basic-dropdown-content {
  @apply whitespace-nowrap;
  position: absolute;
  width: auto;
}

.ember-power-select-trigger-multiple-input {
  display: block !important;
  float: none !important;
  margin-left: 3px;
  width: 99% !important;
  border: 2px red solid;
}
