.heading {
  @apply py-2 font-bold;
}
.text-primary {
  @apply text-gray-900;
}

.text-secondary {
  @apply text-gray-900;
}

.bg-primary {
  @apply bg-blue-700;
}

.bg-primary-blush {
  @apply bg-blue-600;
}

.border-primary {
  @apply bg-gray-900;
}

.column-break-on-md {
  flex-basis: initial;
}

@media md {
  .column-break-on-md {
    flex-basis: 100%;
    height: 0;
  }
}
