table {
  @apply align-middle min-w-full shadow-md overflow-hidden border-0 border-gray-300 rounded-lg;
}

table th {
  @apply px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider;
}

table td {
  @apply px-6 py-4 bg-white whitespace-nowrap border-b border-gray-200 text-sm leading-5 font-medium text-gray-900;
}

table.compact td,
table.compact th {
  @apply py-2 px-2 text-sm;
}

table td a {
  @apply text-blue-700 whitespace-normal;
}

table td a:hover {
  @apply text-blue-600;
}

table tr:last-child td {
  border: none;
}
