@import "base-classes";

.input-style {
  @apply block w-full py-2 px-3 text-sm border border-gray-300 shadow-sm transition duration-150 ease-in-out;
}

/* using the tailwind .25rem increments standard */
.label-min-w-32 {
  min-width: 8rem;
}

.kb-form label,
form label {
  @apply block w-full mt-3 pb-1 text-gray-900;
}
.kb-form label:first-child,
form label:first-child {
  @apply mt-1;
}

.kb-form .horizontal div,
form .horizontal div {
  @apply inline-block w-auto mr-2 pb-4 pt-0;
}

.kb-form .horizontal label,
form .horizontal label {
  @apply inline w-auto;
}

.kb-form-button {
  @apply text-white font-bold rounded border border-primary cursor-pointer;
}

.kb-form-button:hover {
  @apply bg-white text-primary;
}

.kb-form-button:disabled {
  @apply bg-gray-200 text-gray-900 border-gray-900;
}

.kb-form-button {
  @apply px-2 py-1 m-1 mt-2;
}

.kb-form input[type='email'],
.kb-form input[type='password'],
.kb-form input[type='search'],
.kb-form input[type='tel'],
.kb-form input[type='text'],
.kb-form input[type='url'],
.kb-form select,
.kb-form textarea,
fieldset input[type='email'],
fieldset input[type='password'],
fieldset input[type='search'],
fieldset input[type='tel'],
fieldset input[type='text'],
fieldset input[type='url'],
fieldset select,
fieldset textarea,
form input[type='email'],
form input[type='password'],
form input[type='search'],
form input[type='tel'],
form input[type='text'],
form input[type='url'],
form select,
form textarea {
  @apply input-style;
}

fieldset input.indented {
  @apply pl-10;
}

.kb-form input[type='date'],
.kb-form input[type='datetime'],
.kb-form input[type='datetime-local'],
.kb-form input[type='month'],
.kb-form input[type='number'],
.kb-form input[type='time'],
.kb-form input[type='week'],
fieldset input[type='date'],
fieldset input[type='datetime'],
fieldset input[type='datetime-local'],
fieldset input[type='month'],
fieldset input[type='number'],
fieldset input[type='time'],
fieldset input[type='week'],
form input[type='date'],
form input[type='datetime'],
form input[type='datetime-local'],
form input[type='month'],
form input[type='number'],
form input[type='time'],
form input[type='week'] {
  @apply input-style max-w-xs;
}

.ember-power-select-dropdown:focus,
.ember-power-select-trigger:focus,
fieldset input:focus,
fieldset select:focus,
fieldset textarea:focus,
form input:focus,
form select:focus,
form textarea:focus {
  @apply outline-none shadow-md border-blue-300;
}

.kb-form input[type='checkbox'],
fieldset input[type='checkbox'],
form input[type='checkbox'] {
  @apply my-3 w-6 h-6 pr-10 align-middle cursor-pointer;
}

.kb-form input[type='radio'],
fieldset input[type='radio'],
form input[type='radio'] {
  @apply cursor-pointer;
}

.kb-form input[type='checkbox']+label,
fieldset input[type='checkbox']+label,
form input[type='checkbox']+label,
.kb-form input[type='checkbox']+label i,
fieldset input[type='checkbox']+label i,
form input[type='checkbox']+label i {
  @apply cursor-pointer text-sm;
  page-break-before: avoid !important;
}

.kb-form input[type='radio']+label,
fieldset input[type='radio']+label,
form input[type='radio']+label,
.kb-form input[type='radio']+label i,
fieldset input[type='radio']+label i,
form input[type='radio']+label i  {
  @apply cursor-pointer text-sm;
  page-break-before: avoid !important;
}

input:disabled {
  @apply bg-gray-200 text-gray-900;
}

label>i {
  @apply align-top;
}

.kb-form p,
fieldset p,
form p {
  @apply p-2;
}

fieldset,
fieldset p,
form p {
  @apply p-2;
}

.kb-form.compact fieldset,
.kb-form.compact fieldset div {
  @apply m-0 p-0;
}


fieldset legend {
  @apply text-gray-900 font-bold px-2 my-2;
}
