@import "base-classes";

menu a:hover {
  @apply bg-gray-300 text-primary;
}

menu a.active,
menu a.active:hover {
  @apply bg-primary text-white;
}

menu .buttons a {
  @apply relative inline-flex items-center ml-2 mr-1 px-4 py-2 border border-transparent
  text-sm leading-5 font-medium rounded-md text-white bg-blue-600 shadow-sm
  transition ease-in-out duration-150;
}

menu .buttons a span {
  @apply hidden;
}
@screen md {
  menu .buttons a {
    @apply mx-1 px-2;
  }
  menu .buttons a span {
    @apply inline;
  }
}

@screen xl {
  menu .buttons a {
    @apply mx-4 px-4;
  }
}

menu .buttons a:hover {
  @apply bg-blue-500;
}

menu .buttons a:focus {
  @apply outline-none border-blue-700; /* ring-blue; */
}

menu .buttons a.active,
menu .buttons a.active:hover {
  @apply bg-blue-700 cursor-default;
}

menu button,
menu div.title,
menu .tabs a {
  @apply inline-flex items-center mx-0 px-3 pt-1 border-b-2 border-transparent
         text-sm font-medium leading-5 text-gray-500
         transition duration-150 ease-in-out;
}

@screen lg {
  menu button,
  menu div.title,
  menu .tabs a {
    @apply px-5;
  }
}
@screen xl {
  menu button,
  menu div.title,
  menu .tabs a {
    @apply mx-4 px-5;
  }
}
menu div.title {
  @apply text-gray-900 font-bold;
}

menu button:hover,
menu .tabs a:hover {
  @apply bg-white text-gray-700 border-gray-300;
}

menu .tabs a:focus {
  @apply outline-none text-gray-700 border-gray-300
}

menu button:focus {
  @apply bg-white  outline-none text-gray-500 border-blue-600
}

menu button.active,
menu button.active:hover,
menu .tabs a.active,
menu .tabs a.active:hover {
  @apply bg-white border-blue-600 text-gray-900;
}
