@import "base-classes";

section {
  @apply w-full;
}
section dl {
  @apply flex flex-row flex-wrap items-start align-middle;
}
section dl dt,
section dl dd {
  @apply p-1 m-0 text-left ;
}
section dl dt {
  @apply flex-initial inline-block text-primary font-bold;
}
section dl dt label {
  @apply px-3 py-1 bg-primary-blush;
}
section dl dd {
  @apply flex-grow inline-block ;
}
section details {
  @apply p-1;
}
section details summary {
  @apply m-0 p-2 bg-primary-blush text-primary cursor-pointer ;
}
