nav a,
nav label {
  @apply block w-full p-2;
}

nav a:hover {
  @apply text-primary;
}


nav a.active {
  @apply bg-gray-900 text-white;
}


.when-hidden {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.when-shown {
  height: auto;
  overflow: auto;
  opacity: 1;
}

@screen sm {
  .when-hidden {
    height: auto;
    overflow: auto;
    opacity: 1;
  }
}

nav {
  transition: all 1s ease;
}
