<tr class="border-0 {{@class}}">
  <th class="block text-left sm:table-cell w-full sm:w-1/4 align-text-top">
    {{@rowHeading}}
  </th>
  <td class="block text-left sm:table-cell w-auto">
    <span class="font-bold text-lg">
      {{yield}}
    </span>
  </td>
</tr>