<div class="mt-1">
  <Input
    @type="date"
    name="{{@key}}"
    id={{@key}}
    class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block sm:text-sm border border-gray-300 rounded-md"
    @value={{@value}}
  />
</div>
<p class="mt-2 text-sm text-gray-500">
  {{yield}}
</p>