{{#if @errorField}}
  <div class="mt-2 text-sm text-red-700">
    <ul class="list-disc pl-5 space-y-1">
      {{#each @errorField.validation as |message|}}
        <li>
          {{message}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}