{{#if @errorField}}
  <div class="mt-2 text-sm text-red-700">
    <ul class="list-disc pl-5 space-y-1">
      {{#each @errorField as |error|}}
        <li>
          {{error.message}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}