<div class="mt-1">
  <Input
    @type="text"
    name="{{@key}}"
    id={{@key}}
    autocomplete="street-address"
    disabled={{@disabled}}
    class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md
      {{this.inputClass}}"
    @value={{@value}}
  />
</div>
<p class="mt-2 text-sm text-gray-500">
  {{yield}}
</p>