<fieldset>
  <div>
    <legend class="text-base font-medium text-gray-900">{{@label}}</legend>
    <p class="text-sm text-gray-500">{{@label}}</p>
  </div>
  <div class="mt-4 space-y-4">
    {{#each @options as |opt|}}
      <div class="flex items-center">
        <Input
          id="{{opt.id}}"
          name="{{@key}}"
          class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300"
          @checked={{eq @value opt.id}}
          @type={{"radio"}}
          {{on "input" this.checkedRadio}}
        />
        <label
          for="{{opt.id}}"
          class="ml-3 block text-sm font-medium text-gray-700"
        >
          {{opt.name}}
        </label>
      </div>
    {{/each}}
  </div>
</fieldset>