<div class="mt-1">
  <Textarea
    id="about"
    name="about"
    rows="3"
    class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
    @value={{@value}}
  />
</div>
<p class="mt-2 text-sm text-gray-500">
  {{yield}}
</p>