<div class="px-4 py-3 text-right sm:px-6">
  <button
    type="submit"
    class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm
      {{this.buttonClass}}"
  >
    {{yield}}
  </button>
</div>