<button
  type="button"
  class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-sm font-medium rounded text-gray-700 bg-gray-50 hover:bg-gray-100 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500"
  disabled={{this.reportScheduleTask.isRunning}}
  {{on "click" this.createReport}}
>
  {{#if this.reportScheduleTask.isRunning}}
    <KbSvg::SpinningCircle />
    Processing ...
  {{else}}
    {{#if this.isDownload}}
      <KbSvg::Download />
      Download
      {{@fileTypeCaption}}
    {{else}}
      <KbSvg::DocumentReport />
      Report
    {{/if}}
  {{/if}}
</button>