<div class="px-4 py-5 sm:px-6">
  {{#if @heading}}
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      {{@heading}}
    </h3>
  {{/if}}
  <p class="mt-1 text-sm text-gray-500">
    {{yield}}
  </p>
</div>