<div class="bg-white shadow">
  <div
    class="px-4 sm:px-6 lg:max-w-full lg:mx-auto {{this.profilePaddingClass}}"
  >
    <div
      class="md:flex md:items-center
        {{this.justifyClass}}
        {{this.mergeWithAboveClass}}
        "
    >
      <div class="flex-1 min-w-0">
        {{yield}}
      </div>
    </div>
  </div>
</div>