{{#if @clickAction}}
  <a
    href="#"
    class="{{this.linkClass}}
      group flex items-center px-2 py-2 font-medium rounded-md"
    {{on "click" @clickAction}}
  >
    {{#let (component this.svgName) as |LinkSvg|}}
      <LinkSvg @class={{this.svgClass}} />
    {{/let}}
    {{@caption}}
  </a>
{{else if @isContactRoute}}
  <LinkTo
    @route={{@route}}
    @model={{@currentContactId}}
    class="{{this.linkClass}}
      group flex items-center px-2 py-2 font-medium rounded-md"
  >
    {{#let (component this.svgName) as |LinkSvg|}}
      <LinkSvg @class={{this.svgClass}} />
    {{/let}}
    {{@caption}}
  </LinkTo>
{{else if @href}}
  <a
    href="{{@href}}"
    class="{{this.linkClass}}
      group flex items-center px-2 py-2 font-medium rounded-md"
  >
    {{#let (component this.svgName) as |LinkSvg|}}
      <LinkSvg @class={{this.svgClass}} />
    {{/let}}
    {{@caption}}
  </a>
{{else}}
  <LinkTo
    @route={{@route}}
    class="{{this.linkClass}}
      group flex items-center px-2 py-2 font-medium rounded-md"
  >
    {{#let (component this.svgName) as |LinkSvg|}}
      <LinkSvg @class={{this.svgClass}} />
    {{/let}}
    {{@caption}}
  </LinkTo>
{{/if}}