<div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
  <dt class="text-sm font-medium text-gray-500">
    {{@caption}}
  </dt>
  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
    <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
      {{yield}}
    </ul>
  </dd>
</div>