{{!debugger}}
{{#if @href}}
  <a
    href={{@href}}
    alt={{@anchorText}}
    title={{@anchorText}}
    class="mt-1 group px-2 py-2 rounded-md text-sm leading-6 text-gray-200 font-medium hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-900 transition ease-in-out duration-150"
    ...attributes
  >
    <FaIcon @icon={{@icon}} @class="fa-lg mr-3" />
    {{#if @anchorText}}
      <span>
        {{@anchorText}}
        {{yield}}
      </span>
    {{else}}
      <span>
        {{yield}}
      </span>
    {{/if}}
  </a>
{{else}}
  <KbLink
    @route={{@route}}
    @models={{@models}}
    @model={{@model}}
    @dataTestId="wireframe-side-bar-link-to"
    @dataTestRole={{@dataTestRole}}
    alt={{@anchorText}}
    title={{@anchorText}}
    class="mt-1 group px-2 py-2 text-sm leading-6 font-medium rounded-md text-gray-200 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-900 transition ease-in-out duration-150"
    ...attributes
    {{on "click" this.closeSideBar}}
  >
    <FaIcon @icon={{@icon}} @class="fa-lg mr-3" />
    {{#if @anchorText}}
      <span>
        {{@anchorText}}
        {{yield}}
      </span>
    {{else}}
      <span>
        {{yield}}
      </span>
    {{/if}}
  </KbLink>
{{/if}}