<button
  class={{this.classNames}}
  type="button"
  {{data-test-attr "wireframe-side-bar-nav-show" @dataTestRole}}
  {{on "click" this.click}}
>
  {{yield}}
  <FaIcon @icon="bars" @class="fa-2x" aria-hidden="true" />
</button>