<button
  class="border-none cursor-pointer rounded-none m-0 p-1 w-full text-right block sm:hidden"
  type="button"
  {{data-test-attr "wireframe-side-bar-nav-hide" @dataTestRole}}
  {{on "click" this.click}}
>
  <FaIcon @icon="times" @class="fa-2x" aria-hidden="true" />
  {{yield}}
</button>