<a
  href="#"
  class="{{this.tabClass}}
    whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm"
  aria-current="{{this.ariaCurrent}}"
  {{on "click" this.actionTabSelect}}
  {{data-test-attr "tab-bar-tabs-tab" @tabBar.args.dataTestRole @key}}
>
  <span>
    {{@label}}
    {{yield}}
  </span>
</a>