<button
  type="button"
  class="relative inline-flex items-center focus:outline-none"
  {{on "click" this.toggleSort}}
>
  <span class="sr-only">
    Sort by
    {{@sortCaption}}
  </span>
  <svg
    class="h-4 w-4"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
  >
    <path fill-rule="evenodd" d="{{this.sortIcon}}" clip-rule="evenodd"></path>
  </svg>
</button>