<div class="max-w-full">
  <div class="flex flex-col mt-2">
    <div
      class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg"
    >
      {{yield}}
    </div>
  </div>
</div>