{{! user info component }}
<div
  class="flex-shrink-0 flex p-4"
  {{data-test-attr "wireframe-top-bar-user-info" @dataTestRole}}
>
  {{#if this.session.isAuthenticated}}
    <KbLink
      @model={{@userRouteId}}
      @route={{@userRoute}}
      @class="flex-shrink-0 group block focus:outline-none"
    >
      <div class="flex items-center">
        <div>
          {{#if @avatar}}
            <img
              class="inline-block h-10 w-10 rounded-full"
              src={{@avatar}}
              alt={{this.contactName}}
            />
          {{else}}
            <FaIcon @icon="user-circle-o" @class="fa-2x" />
          {{/if}}
        </div>
        <div class="ml-3 mt-2">
          <p class="text-sm leading-5 font-medium text-gray-900">
            {{this.contactName}}
          </p>
        </div>
      </div>
    </KbLink>
    <div class="hidden">
      {{yield}}
    </div>
  {{/if}}
</div>