<KbForm::Fieldgroup class={{this.fieldgroupPadding}}>
  <div class="toggle-button mt-1">
    <KbForm::Boolean
      @key="{{@key}}Filter"
      @label={{@label}}
      @value={{@value}}
      @changeHook={{this.actionOnFilterChange}}
      @dataTestRole={{@dataTestRole}}
      class="toggle-check"
      ...attributes
    />
  </div>
</KbForm::Fieldgroup>