<KbForm::Fieldgroup class="pl-2">
  <KbForm::Date
    @key="{{@key}}LowFilter"
    @label="{{@label}}&nbsp;From"
    @value={{@valueLow}}
    @changeHook={{this.actionOnFilterChange}}
    @dataTestRole={{@dataTestRole}}
    ...attributes
  />
</KbForm::Fieldgroup>
<KbForm::Fieldgroup class="pl-2">
  <KbForm::Date
    @key="{{@key}}HighFilter"
    @label="To"
    @value={{@valueHigh}}
    @changeHook={{this.actionOnFilterChange}}
    @dataTestRole={{@dataTestRole}}
    ...attributes
  />
</KbForm::Fieldgroup>