<KbForm::Fieldgroup class="pl-2">
  <KbForm::Number
    @key="{{@key}}Filter"
    @label={{@label}}
    @value={{@value}}
    @tags={{@tags}}
    @changeHook={{this.actionOnFilterChange}}
    @dataTestRole={{@dataTestRole}}
    ...attributes
  />
</KbForm::Fieldgroup>