<KbForm::Fieldgroup class={{this.fieldgroupPadding}}>
  <div class="mt-1 relative rounded-md shadow-sm">
    <div
      class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
    >
      <svg
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 20 20"
        stroke="currentColor"
        class="h-5 w-5 text-gray-400 transform scale-95"
      >
        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
      </svg>
    </div>
    <KbForm::String
      @key="{{@key}}Filter"
      placeholder={{@label}}
      @value={{@value}}
      @changeHook={{this.actionOnFilterChange}}
      @dataTestRole={{@dataTestRole}}
      class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md"
      ...attributes
    />
  </div>
</KbForm::Fieldgroup>