<KbForm::Fieldgroup class="pl-2">
  <KbForm::Select
    @key="{{@key}}Filter"
    @label={{@label}}
    @value={{@value}}
    @options={{@options}}
    @searchEnabled={{@searchEnabled}}
    @searchField={{@searchField}}
    @valueField={{@valueField}}
    @allowClear={{true}}
    @optionsArePrimitive={{@optionsArePrimitive}}
    @valueIsPrimitive={{@valueIsPrimitive}}
    @changeHook={{this.actionOnFilterChange}}
    @dataTestRole={{@dataTestRole}}
    @class={{@class}}
    ...attributes
  />
</KbForm::Fieldgroup>