<KbForm::Taggit
  @key="{{@key}}Filter"
  @label={{@label}}
  @inlineForm={{true}}
  @value={{@value}}
  @tags={{@tags}}
  @noNewTags={{true}}
  @changeHook={{this.actionOnFilterChange}}
  @dataTestRole={{@dataTestRole}}
  ...attributes
/>