<KbListTable::BodyRow::Cell
  @class="w-8 text-right cursor-pointer"
  @clickHook={{@grouper.actionToggle}}
>
  {{#if @grouper.hasHiderableContent}}
    <FaIcon @icon="chevron-{{@grouper.buttonIcon}}" />
  {{/if}}
</KbListTable::BodyRow::Cell>