<div
  class="relative flex flex-col w-0 flex-1 overflow-hidden"
  {{data-test-attr "wireframe-main" @dataTestRole}}
>
  <main
    class="flex-1 relative z-0 overflow-y-scroll pt-2 pb-6 focus:outline-none md:py-6"
    tabindex="0"
  >
    <div class="max-w-full mx-auto px-4 sm:px-2">
      {{yield}}
    </div>
  </main>
</div>