{{! sidebar control button for mobile }}
<div class="h-full" {{data-test-attr "wireframe-side-bar" @dataTestRole}}>
  {{! PJK-C? }}
  <div class="absolute {{if this.mobileVisible "ml-64"}} z-10 md:hidden md:z-0">
    {{! PJK-D }}
    <button
      type="button"
      class="mt-2 h-16 w-16 inline-flex items-center justify-center text-gray-500 hover:text-gray-600 focus:outline-none transition ease-in-out duration-150"
      {{on "click" this.toggleSideBar}}
    >
      {{#if this.mobileVisible}}
        <svg
          class="h-8 w-8"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4,6 L18,18 M4,18 18,6"
          ></path>
        </svg>
      {{else}}
        <svg
          class="h-8 w-8"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4,6 H18 M4,12 H18 M4,18 H18"
          ></path>
        </svg>
      {{/if}}
    </button>
  </div>
  {{! sidebar }}
  {{! PJK-B }}
  <div class={{this.sideBarClass}} data-test-wireframe-desktop>
    <div class="flex flex-col w-64 bg-gray-800">
      <div class="h-0 flex-1 flex flex-col pt-2 pb-4 overflow-y-auto">
        {{! PJK-A }}
        <div class="flex items-center flex-shrink-0 px-4">
          <LinkTo
            @route="{{@logoLink}}"
            alt="{{@appName}}"
            {{on "click" this.closeSideBar}}
          >
            <img class="h-12 w-auto" src={{@appLogo}} alt={{@appName}} />
          </LinkTo>
        </div>
        {{! Sidebar links }}
        <nav class="mt-2 flex-1 px-2 bg-gray-800">
          {{yield this}}
        </nav>
      </div>
    </div>
  </div>
</div>