{{! margin left is required for the menu button on mobile otherwise use all of the available space including margins on the container }}
<div
  class="-ml-2 -mt-3 md:-mt-8 -mr-4 md:-mr-2 pt-2 pl-16 md:pl-3 bg-white text-gray-900"
  {{data-test-attr "wireframe-top-bar" @dataTestRole}}
>
  <div class="flex items-center justify-start">
    <div class="flex-none pl-2 pr-8 h-full align-middle text-3xl">
      {{#if @topBarHeading}}
        <div>
          {{@topBarHeading}}
        </div>
      {{/if}}
    </div>
    <div class="flex-auto flex justify-start items-center">
      {{yield}}
    </div>
    <div class="flex-shrink-0">
      <KbWireframe::TopBar::UserInfo
        @user={{@user}}
        @userName={{@userName}}
        @userRoute={{@userRoute}}
        @userRouteId={{@userRouteId}}
        @avatar={{@avatar}}
      />
    </div>
  </div>
</div>