/* NB: `kb-base-ember-addons` components use Tailwind classes for styles. The
   styles below are only here to make the dummy app function. See the
   instructions in the README file on how to set up your Ember App
   purposefully for KB Style.*/

body.dummy-body > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start ;
  align-items: flex-start;
}
body.dummy-body > div > main {
  flex-grow: 1;
}
body.dummy-body > div > div {
  min-width: 250px;
}


/***** NAV // stretch ******/
body.dummy-body nav a,
body.dummy-body nav label {
  display: block;
  width: 90%;
  padding: 10px;
}

.when-hidden {
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.when-shown {
  height: auto;
  overflow: auto;
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .when-hidden {
    min-width: 50px;
    height: auto;
    overflow: auto;
    opacity: 1;
  }
}

body.dummy-body nav {
  transition: all 1s ease;
}

/***** FORM ******/


body.dummy-body form legend {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

body.dummy-body form textarea {
  width: 100%;
}

body.dummy-body form input[type='checkbox'],
body.dummy-body form input[type='radio'] {
  margin-right: 3px;

  +label {
    display: inline-block;
    margin-right: 3px;
    page-break-before: avoid;
  }
}

body.dummy-body form fieldset {
  border: 1px solid grey;
  margin-top: 3px;
  padding: 0 3px;
}

body.dummy-body form button,
body.dummy-body form input,
body.dummy-body form select,
body.dummy-body form textarea {
  box-sizing: border-box;
  margin-bottom: 3px;
}

body.dummy-body form input[type='email'],
body.dummy-body form input[type='number'],
body.dummy-body form input[type='password'],
body.dummy-body form input[type='search'],
body.dummy-body form input[type='tel'],
body.dummy-body form input[type='text'],
body.dummy-body form input[type='url'],
body.dummy-body form select,
body.dummy-body form form textarea {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

body.dummy-body form input:not([type]) {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}

body.dummy-body form input[type='color'],
body.dummy-body form input[type='range'] {
  display: inline-block;
  margin-bottom: 3px;
  vertical-align: middle;
}

body.dummy-body form input[type='date'],
body.dummy-body form input[type='time'],
body.dummy-body form input[type='datetime'],
body.dummy-body form input[type='datetime-local'],
body.dummy-body form input[type='month'],
body.dummy-body form input[type='week'] {
  margin-bottom: 3px;
}

body.dummy-body form button,
body.dummy-body form input[type='submit'],
body.dummy-body form input[type='reset'] {
  cursor: pointer;
}

body.dummy-body .box {
  margin: 30px 0;
  padding: 30px;
  border: 2px dashed grey;
}

body .full-screen {
  background: rgb(255, 255, 255, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

body .full-screen label {
  position: absolute;
  color: gray;
  bottom: 50%;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  width: 100%;
}

body.dummy-body .button {
  border: 1px solid grey;
  display: block;
  padding: 3px;
  margin: 5px;
}


body.dummy-body table.model-list-table {
  width: 100%;
  border-collapse: collapse;
}

body.dummy-body table td,
body.dummy-body table th {
  text-align: left;
}
