<div class="h-screen flex overflow-hidden bg-gray-100">
  {{#if this.offCanvasMenuState}}
    <div class="md:hidden">
      <div class="fixed inset-0 flex z-40">
        {{!
          Off-canvas menu overlay, show/hide based on off-canvas menu state.
 
          Entering: "transition-opacity ease-linear duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "transition-opacity ease-linear duration-300"
            From: "opacity-100"
            To: "opacity-0"
        }}
        <div
          class="fixed inset-0"
          aria-hidden="true"
          {{css-transition
            enterClass="opacity-0"
            enterActiveClass="transition-opacity ease-linear duration-300"
            enterToClass="opacity-100"
            leaveClass="opacity-100"
            leaveActiveClass="transition-opacity ease-linear duration-300"
            leaveToClass="opacity-0"
          }}
        >
          <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
        </div>
        {{!
          Off-canvas menu, show/hide based on off-canvas menu state.
 
          Entering: "transition ease-in-out duration-300 transform"
            From:   "-translate-x-full"
            To:     "translate-x-0"
 
           Leaving: "transition ease-in-out duration-300 transform"
            From:   "translate-x-0"
            To:     "-translate-x-full"
        }}
        <div
          class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-gray-800"
          {{css-transition
            enterClass="-translate-x-full"
            enterActiveClass="transition ease-in-out duration-300 transform"
            enterToClass="translate-x-0"
            leaveClass="translate-x-0"
            leaveActiveClass="transition ease-in-out duration-300 transform"
            leaveToClass="-translate-x-full"
          }}
        >
          <div class="absolute top-0 right-0 -mr-12 pt-2">
            <button
              type="button"
              class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              {{on "click" this.toggleOffCanvasMenuState}}
            >
              <span class="sr-only">
                Close sidebar
              </span>
              {{! Heroicon name: x }}
              <svg
                class="h-6 w-6 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </button>
          </div>
          <div class="flex-shrink-0 flex items-center px-4">
            <img class="h-8 w-auto" src="{{this.siteLogoUrl}}" alt="Workflow" />
          </div>
          <div class="mt-5 flex-1 h-0 overflow-y-auto">
            <nav class="px-2 space-y-1" aria-label="mobile navigation">
              {{#each @appMenu as |menu|}}
                {{#if
                  (eyes-only
                    menu.authentication
                    @isAuthenticated
                    @currentContact.contact.permissionLevel
                  )
                }}
                  <KbBase::SidebarLink
                    @caption={{menu.anchorText}}
                    @mobile="true"
                    @route={{menu.route}}
                    @isContactRoute={{menu.isContactRoute}}
                    @currentContactId={{@currentContact.contact.id}}
                    @svgName={{menu.svgName}}
                  />
                {{/if}}
              {{/each}}
              {{#if @isAuthenticated}}
                <KbBase::SidebarLink
                  @caption="Logout"
                  @clickAction={{@actionSignOut}}
                  @mobile="true"
                  @svgName="kb-svg/logout"
                />
              {{else}}
                <KbBase::SidebarLink
                  @caption="Login"
                  @mobile="true"
                  @route="login"
                  @svgName="kb-svg/login"
                />
              {{/if}}
            </nav>
          </div>
        </div>
        <div class="flex-shrink-0 w-14" aria-hidden="true">
          {{! Dummy element to force sidebar to shrink to fit close icon }}
        </div>
      </div>
    </div>
  {{/if}}

  {{! Static sidebar for desktop }}
  <div class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64">
      {{! Sidebar component, swap this element with another sidebar if you like }}
      <div class="flex flex-col h-0 flex-1">
        <div class="flex items-center h-16 flex-shrink-0 px-4 bg-gray-900">
          <img class="h-8 w-auto" src="{{this.siteLogoUrl}}" alt="Workflow" />
        </div>
        <div class="flex-1 flex flex-col overflow-y-auto">
          <nav
            class="flex-1 px-2 py-4 bg-gray-800 space-y-1"
            aria-label="desktop navigation"
          >
            {{#each @appMenu as |menu|}}
              {{#if
                (eyes-only
                  menu.authentication
                  @isAuthenticated
                  @currentContact.contact.permissionLevel
                )
              }}
                <KbBase::SidebarLink
                  @caption={{menu.anchorText}}
                  @href={{menu.href}}
                  @route={{menu.route}}
                  @isContactRoute={{menu.isContactRoute}}
                  @currentContactId={{@currentContact.contact.id}}
                  @svgName={{menu.svgName}}
                />
              {{/if}}
            {{/each}}
            {{#if @isAuthenticated}}
              <KbBase::SidebarLink
                @caption="Logout"
                @clickAction={{@actionSignOut}}
                @svgName="kb-svg/logout"
              />
            {{else}}
              <KbBase::SidebarLink
                @caption="Login"
                @route="login"
                @svgName="kb-svg/login"
              />
            {{/if}}
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <div class="relative z-10 flex-shrink-0 flex h-16 bg-white shadow">
      <button
        type="button"
        class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden"
        {{on "click" this.toggleOffCanvasMenuState}}
      >
        <span class="sr-only">
          Open sidebar
        </span>
        {{! Heroicon name: menu-alt-2 }}
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          ></path>
        </svg>
      </button>
      <div class="flex-1 px-4 flex justify-between">
        <div class="flex-1 flex">
          <div class="w-full flex md:ml-0">
            <div class="relative w-full text-gray-900">
              <div
                class="absolute inset-y-0 left-0 flex items-center pointer-events-none"
              >
                <h1
                  class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate"
                >
                  {{this.kbPage.title}}
                </h1>
              </div>
            </div>
          </div>
        </div>
        <div class="ml-4 flex items-center md:ml-6">
          {{! Profile dropdown }}
          <div class="ml-3 relative">
            <div>
              <button
                type="button"
                class="max-w-xs bg-white flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                id="user-menu"
                aria-haspopup="true"
                {{on "click" this.toggleProfileMenuState}}
              >
                <span class="sr-only">
                  Open user menu
                </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="h-9 w-9"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="ml-3 mr-3 text-sm text-gray-700">
                  {{this.kbPage.contactName}}
                </div>
              </button>
            </div>
            {{!
              Profile dropdown panel, show/hide based on dropdown state.

              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            }}
            {{#if this.profileMenuState}}
              {{#if this.kbPage.contactId}}
                <div
                  class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="user-menu"
                  {{css-transition
                    enterClass="transform opacity-0 scale-95"
                    enterActiveClass="transition ease-out duration-100"
                    enterToClass="transform opacity-100 scale-100"
                    leaveClass="transform opacity-100 scale-100"
                    leaveActiveClass="transition ease-in duration-75"
                    leaveToClass="transform opacity-0 scale-95"
                  }}
                >
                  <a
                    href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    role="menuitem"
                    {{on "click" this.signOut}}
                  >
                    Logout
                  </a>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <main
      class="flex-1 relative overflow-y-auto focus:outline-none"
      tabindex="0"
    >
      {{yield}}
    </main>
  </div>
</div>