<div class="{{this.horizontalPadding}} {{this.verticalPadding}}text-right">
  <button
    type="button"
    class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm
      {{this.buttonClass}}"
    {{on "click" this.onClick}}
  >
    {{yield}}
  </button>
</div>