{{#unless this.confirmShown}}
  <button
    type="button"
    class="relative inline-flex items-center px-4 py-2 border border-transparent font-medium rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2
      {{this.buttonClass}}"
    {{data-test-attr "confirm-action" @dataTestRole}}
    {{on "click" this.toggleConfirm}}
  >
    {{yield}}
  </button>
{{/unless}}
{{#if this.confirmShown}}
  <div>
    <span class="align-middle">
      {{@confirmMessage}}
    </span>
    <button
      type="button"
      class="align-middle"
      {{data-test-attr "confirm" @dataTestRole}}
      {{on "click" this.confirmed}}
    >
      <FaIcon @icon={{@faIconOk}} @class="fa-2x" />
      <span class="hidden sm:inline align-middle">
        {{@labelOk}}
      </span>
    </button>
    <button
      type="button"
      class="align-middle"
      {{data-test-attr "cancel" @dataTestRole}}
      {{on "click" this.toggleConfirm}}
    >
      <FaIcon @icon={{@faIconCancel}} @class="fa-2x" />
      <span class="hidden sm:inline align-middle">
        {{@labelCancel}}
      </span>
    </button>
  </div>
{{/if}}