<div
  class="bg-white shadow overflow-hidden sm:rounded-lg"
  {{data-test-attr "dl" @dataTestRole id=@dataTestRowId}}
>
  {{#if @title}}
    <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        {{@title}}
      </h3>
      {{#if @description}}
        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
          {{@description}}
        </p>
      {{/if}}
    </div>
  {{/if}}
  <div class="px-4 py-5 sm:p-0">
    <dl>
      {{yield}}
    </dl>
  </div>
</div>