<form
  {{data-test-attr "form-horizontal" @dataTestRole}}
  {{on "submit" this.actionValidateThenSubmit}}
>
  <div class="flex flex-row lg:flex-row items-start">
    {{yield this}}
    {{#unless @noButtons}}
      <KbForm::SubmitButtons
        @actionCancelHook={{@actionCancelHook}}
        @dataTestRole={{@dataTestRole}}
        @noButtons={{@noButtons}}
      />
    {{/unless}}
  </div>
</form>