<KbBase::Content>
  <div class={{if @noHelpPanel "" "mt-10 sm:mt-0"}}>
    <div class={{if @noHelpPanel "" "md:grid md:grid-cols-3 md:gap-6"}}>
      {{#unless @noHelpPanel}}
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            {{#if @formHeading}}
              <h3 class="text-lg font-medium leading-6 text-gray-900">
                {{@formHeading}}
              </h3>
            {{/if}}
            <p class="mt-1 text-sm text-gray-600">
              {{@helpText}}
            </p>
          </div>
        </div>
      {{/unless}}
      <div class={{if @noHelpPanel "" "mt-5 md:mt-0 md:col-span-2"}}>
        <form
          ...attributes
          {{data-test-attr "form" @dataTestRole}}
          {{did-insert this.setStartingModel}}
          {{on "submit" this.actionValidateThenSubmit}}
        >
          <div class="shadow sm:rounded-md">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
              {{yield this}}
            </div>
            {{#unless @noButtons}}
              <KbForm::SubmitButtons
                @actionCancelHook={{@actionCancelHook}}
                @actionSubmitHook={{this.actionValidateThenSubmit}}
                @dataTestRole={{@dataTestRole}}
              />
            {{/unless}}
          </div>
        </form>
      </div>
    </div>
  </div>
</KbBase::Content>