{{#if @inactive}}
  {{yield}}
{{else if @href}}
  <a href={{@href}}>
    {{yield}}
  </a>
{{else}}
  {{#if @models}}
    <LinkTo
      @route={{@route}}
      @models={{@models}}
      ...attributes
      {{data-test-attr @dataTestId @dataTestRole}}
    >
      {{yield}}
    </LinkTo>
  {{else if @model}}
    <LinkTo
      @route={{@route}}
      @model={{@model}}
      ...attributes
      {{data-test-attr @dataTestId @dataTestRole}}
    >
      {{yield}}
    </LinkTo>
  {{else}}
    <LinkTo
      @route={{@route}}
      ...attributes
      {{data-test-attr @dataTestId @dataTestRole}}
    >
      {{yield}}
    </LinkTo>
  {{/if}}
{{/if}}