{{yield}}
<div {{data-test-attr "model-delete" @dataTestRole}}>
  {{#if @actionDeleteModel}}
    <p class="text-sm text-gray-900">
      Delete
      {{@modelName}}
      <b>
        {{@modelText}}
      </b>
      ?
      <button
        type="button"
        class="inline-flex items-center justify-center mx-4 px-4 py-2 border border-transparent font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 sm:text-sm text-red-700 bg-red-100 hover:bg-red-200 focus:ring-red-500"
        {{data-test-attr "delete-button" @dataTestRole}}
        {{on "click" (fn @actionDeleteModel @model @afterRoute)}}
      >
        <KbSvg::Clear />
        Confirm
      </button>
    </p>
  {{/if}}
</div>