<div
  aria-live="assertive"
  class="fixed inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start z-10"
>
  <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
    {{!
      Notification panel, dynamically insert this into the live region when it needs to be displayed

      Entering: "transform ease-out duration-300 transition" == enterActiveClass
        From: "translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2" == enterClass
        To: "translate-y-0 opacity-100 sm:translate-x-0" == enterToClass
      Leaving: "transition ease-in duration-100" == leaveActiveClass
        From: "opacity-100" == leaveClass
        To: "opacity-0" == leaveToClass
        }}
    {{#if this.kbMessages.currentMessage}}
      <div
        class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden"
        {{css-transition
          enterActiveClass="transform ease-out duration-300 transition"
          enterClass="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
          enterToClass="translate-y-0 opacity-100 sm:translate-x-0"
          leaveActiveClass="transition ease-in duration-100"
          leaveClass="opacity-100"
          leaveToClass="opacity-0"
        }}
      >
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              {{! Heroicon name: outline/check-circle }}
              <svg
                class="h-6 w-6 text-green-400"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-sm font-medium text-gray-900">
                {{this.kbMessages.currentMessage.message}}
              </p>
              <p class="mt-1 text-sm text-gray-500">
                {{this.kbMessages.currentMessage.messageTime}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>
{{#if this.kbMessages.errors}}
  <div
    class="rounded-md bg-red-50 p-4"
    {{css-transition
      enterClass="opacity-0"
      enterActiveClass="transition-opacity ease-linear duration-300"
      enterToClass="opacity-100"
      leaveClass="opacity-100"
      leaveActiveClass="transition-opacity ease-linear duration-300"
      leaveToClass="opacity-0"
    }}
  >
    <div class="flex">
      <div class="flex-shrink-0">
        <KbSvg::XCircle />
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800">
          {{this.heading}}:
        </h3>
        <div class="mt-2 text-sm text-red-700">
          <ul class="list-disc pl-5 space-y-1">
            {{#each this.kbMessages.errors as |item|}}
              <li>
                {{item}}
              </li>
            {{/each}}
          </ul>
          <div class="mt-4">
            <div class="-mx-2 -my-1.5 flex">
              <button
                class="bg-red-50 px-2 py-1.5 rounded-md text-sm font-medium text-red-800 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-red-600"
                type="button"
                {{on "click" this.clearErrors}}
              >
                Dismiss
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
<NewVersionNotifier as |version lastVersion reload close|>
  <div
    class="rounded-md bg-yellow-50 p-4"
    {{css-transition
      enterClass="opacity-0"
      enterActiveClass="transition-opacity ease-linear duration-300"
      enterToClass="opacity-100"
      leaveClass="opacity-100"
      leaveActiveClass="transition-opacity ease-linear duration-300"
      leaveToClass="opacity-0"
    }}
  >
    <div class="flex">
      <div class="flex-shrink-0">
        <KbSvg::InformationCircle />
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-yello-800">
          A new version of this application has been released:
        </h3>
        <div class="mt-2 text-sm text-yello-700">
          <ul class="list-disc pl-5 space-y-1">
            <li>
              Please update to the new version by clicking on the 'Reload'
              button... ({{#if lastVersion}}from
                {{lastVersion}}
                to
              {{/if}}{{version}}).
            </li>
          </ul>
          <div class="mt-4">
            <div class="-mx-2 -my-1.5 flex">
              <button
                class="bg-yellow-100 px-2 py-1.5 rounded-md text-sm font-medium text-yellow-800 hover:bg-yellow-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-yellow-50 focus:ring-red-600"
                type="button"
                {{on "click" reload}}
              >
                Reload
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</NewVersionNotifier>