{{#if @model}}
  <nav
    class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
    aria-label="Pagination"
  >
    <div class="hidden sm:block">
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">
          {{this.firstRecord}}
        </span>
        to
        <span class="font-medium">
          {{this.lastRecord}}
        </span>
        of
        <span class="font-medium">
          {{this.totalRecords}}
        </span>
        results
      </p>
    </div>
    <div class="flex-1 flex justify-between sm:justify-end">
      {{#if this.showPrevious}}
        <a
          href="#"
          class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
          {{on "click" this.previousPage}}
        >
          Previous
        </a>
      {{/if}}
      {{#if this.showNext}}
        <a
          href="#"
          class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"
          disabled
          {{on "click" this.nextPage}}
        >
          Next
        </a>
      {{/if}}
    </div>
  </nav>
{{/if}}