<div {{data-test-attr "quick-paginator" @dataTestRole}}>
  {{yield this.paginatedItems}}
  {{#if @paginateBy}}
    {{#if this.showPrevious}}
      <button
        class="p-1 m-1 text-gray-800"
        type="button"
        {{data-test-attr "quick-paginator-previous" @dataTestRole}}
        {{on "click" this.previousClicked}}
      >
        <FaIcon @icon="backward" />
        Back
      </button>
    {{/if}}
    <span class="inline-block p-1 m-1 text-gray-600">
      &nbsp;
      {{this.numberOfItems}}
      Items
      {{#if this.numberOfPages}}
        | Page
        {{this.page}}
        of
        {{this.numberOfPages}}
        &nbsp;
      {{/if}}
    </span>
    {{#if this.showNext}}
      <button
        class="p-1 m-1 text-gray-800"
        type="button"
        {{data-test-attr "quick-paginator-forward" @dataTestRole}}
        {{on "click" this.nextClicked}}
      >
        Next
        <FaIcon @icon="forward" />
      </button>
    {{/if}}
  {{/if}}
</div>