{{! https://tailwindui.com/components/application-ui/navigation/tabs }}
{{! *Tabs with underline and badges* (I removed the badge) }}
<div>
  <div class="sm:block">
    <div class="border-b border-gray-200">
      {{yield this}}
    </div>
  </div>
</div>