<div>
  <div class="pr-4 sm:pr-6" {{data-test-attr "tool-bar" @dataTestRole}}>
    <div class="flex justify-between h-16">
      {{#if @toolBarHeading}}
        <div class="title">
          {{@toolBarHeading}}
        </div>
      {{/if}}
      {{yield this}}
    </div>
  </div>
</div>