<div
  aria-hidden="true"
  {{css-transition
    enterClass="opacity-0"
    enterActiveClass="transition-opacity ease-in-out duration-500"
    enterToClass="opacity-100"
    leaveClass="opacity-100"
    leaveActiveClass="transition-opacity ease-in-out duration-500"
    leaveToClass="opacity-0"
  }}
>
  {{yield}}
</div>