<div class="mt-2 pt-2 pb-3 pr-6 pl-6">
  <div class="flex items-start justify-between">
    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
      {{@title}}
    </h2>
    <div class="ml-3 h-7 flex items-center">
      <button
        class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500"
        type="button"
        {{on "click" @toggleSlideOver}}
      >
        <span class="sr-only">Close panel</span>
        {{! Heroicon name: outline/x }}
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>