<div class="flex items-start">
  <div class="flex items-center h-5">
    <Input
      @type="checkbox"
      id={{@key}}
      name={{@key}}
      @checked={{this.value}}
      disabled={{@disabled}}
      class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded"
      ...attributes
      {{on "click" this.toggleValue}}
      {{did-insert this.setStartingValue}}
      {{data-test-attr "form-input" @dataTestRole @key label=@label}}
    />
  </div>
  <div class="ml-3 text-sm">
    <label
      for={{@key}}
      class="font-medium text-gray-700"
      title="Click to toggle value"
      {{data-test-attr "form-label" @dataTestRole @key label=@label}}
    >
      {{@label}}
    </label>
    {{yield}}
    {{#if @helpText}}
      <p class="mt-2 text-sm text-gray-500">
        {{@helpText}}
      </p>
    {{/if}}
    <KbForm::Error
      @showErr={{this.showErr}}
      @validateMessage={{this.validateMessage}}
      @dataTestRole={{@dataTestRole}}
    />
  </div>
</div>