<KbForm::Label
  @key={{@key}}
  @label={{@label}}
  @required={{@required}}
  @showTick={{this.showTick}}
  @dataTestRole={{@dataTestRole}}
>
  {{yield}}
</KbForm::Label>
{{#if @helpText}}
  <p class="mt-2 text-sm text-gray-500">
    {{@helpText}}
  </p>
{{/if}}
<KbForm::Error
  @showErr={{this.showErr}}
  @validateMessage={{this.validateMessage}}
  @dataTestRole={{@dataTestRole}}
/>
{{#if this.testing}}
  <Textarea
    @value={{this.html}}
    name={{@key}}
    cols="80"
    rows="6"
    ...attributes
    {{did-insert this.setStartingValue}}
    {{on "change" this.touched}}
    {{data-test-attr "form-input" @dataTestRole @key}}
  />
{{else}}
  <div
    id={{@key}}
    name={{@key}}
    ...attributes
    {{did-insert this.registerCkEditor}}
    {{will-destroy this.unregisterCkEditor}}
    {{data-test-attr "form-ck-editor" @dataTestRole @key}}
  ></div>
{{/if}}