<div>
  <KbForm::Label
    @key={{@key}}
    @label={{@label}}
    @required={{@required}}
    @showTick={{this.showTick}}
    @dataTestRole={{@dataTestRole}}
  >
    {{yield}}
  </KbForm::Label>
  <div class="mt-1">
    <Input
      @type="date"
      id={{@key}}
      name={{@key}}
      @value={{this.value}}
      max={{@max}}
      min={{@min}}
      disabled={{@disabled}}
      placeholder={{@placeholder}}
      ...attributes
      class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block sm:text-sm border border-gray-300 rounded-md"
      {{on "change" this.touched}}
      {{did-insert this.setStartingValue}}
      {{data-test-attr "form-input" @dataTestRole @key}}
    />
  </div>
  {{#if @helpText}}
    <p class="mt-2 text-sm text-gray-500">
      {{@helpText}}
    </p>
  {{/if}}
  <KbForm::Error
    @key={{@key}}
    @showErr={{this.showErr}}
    @validateMessage={{this.validateMessage}}
    @dataTestRole={{@dataTestRole}}
  />
</div>