<KbForm::Label
  @key={{@key}}
  @label={{@label}}
  @required={{@required}}
  @showTick={{this.showTick}}
  @dataTestRole={{@dataTestRole}}
>
  {{yield}}
</KbForm::Label>
<Input
  @type="email"
  id={{@key}}
  name={{@key}}
  @value={{this.value}}
  max={{@max}}
  min={{@min}}
  disabled={{@disabled}}
  placeholder={{@placeholder}}
  ...attributes
  {{on "change" this.touched}}
  {{did-insert this.setStartingValue}}
  {{data-test-attr "form-input" @dataTestRole @key}}
/>
{{#if @helpText}}
  <p class="mt-2 text-sm text-gray-500">
    {{@helpText}}
  </p>
{{/if}}
<KbForm::Error
  @key={{@key}}
  @showErr={{this.showErr}}
  @validateMessage={{this.validateMessage}}
  @dataTestRole={{@dataTestRole}}
/>