<div
  class="text-red-700 text-sm {{this.visibility}}"
  ...attributes
  {{data-test-attr "form-error" @dataTestRole @key}}
>
  {{#if @showErr}}
    {{@validateMessage}}
    {{yield}}
  {{/if}}
</div>