<fieldset
  class={{@class}}
  ...attributes
  {{data-test-attr "form-fieldset" @dataTestRole @key}}
>
  {{#if @legend}}
    <legend class="text-base font-medium text-gray-900">
      {{@legend}}
    </legend>
  {{/if}}
  {{yield}}
</fieldset>