<div class="mt-5 md:mt-0 md:col-span-2">
  <form action="#" method="POST" {{on "submit" this.submit}}>
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      {{yield}}
    </div>
  </form>
</div>