{{#if @label}}
  <div class="flex justify-between mt-3">
    <span class="flex-none block">
      <label
        for={{@key}}
        class={{this.labelClass}}
        ...attributes
        {{data-test-attr "form-label" @dataTestRole @key}}
      >
        {{@label}}
        {{yield}}
      </label>
    </span>
    <span
      class="text-sm leading-5 text-gray-500{{if @showTick " text-green-500"}}"
      {{data-test-attr "form-label-status" @dataTestRole @key}}
    >
      {{if @required "Required"}}
    </span>
  </div>
{{/if}}