<KbForm::Label
  @key={{@key}}
  @label={{@label}}
  @required={{@required}}
  @showTick={{this.showTick}}
  @dataTestRole={{@dataTestRole}}
>
  {{yield}}
</KbForm::Label>
<div
  class="mt-4"
  ...attributes
  {{did-insert this.setStartingValue}}
  {{data-test-attr "form-input" @dataTestRole @key}}
>
  {{#each this.radioOptions as |opt|}}
    <div class="flex p-0 items-center">
      <Input
        @type="radio"
        name={{@key}}
        id="{{@key}}{{get-select-option opt @searchField}}"
        @value={{get-select-option opt @valueField}}
        disabled={{@disabled}}
        class="p-0 h-5 w-5 text-indigo-600 transition duration-150 ease-in-out"
        @checked={{is-equal this.value (get-select-option opt @valueField)}}
        ...attributes
        {{on "click" (fn this.changeValue opt)}}
        {{data-test-attr
          "form-input"
          @dataTestRole
          @key
          label=(get-select-option opt @valueField)
        }}
      />
      <label
        for="{{@key}}{{get-select-option opt @searchField}}"
        class="p-0 ml-3 h-8"
        title="Click to select {{get-select-option opt @searchField}}"
        {{data-test-attr
          "form-label"
          @dataTestRole
          @key
          label=(get-select-option opt @valueField)
        }}
      >
        <span class="block text-sm leading-5 font-medium text-gray-700">
          {{get-select-option opt @searchField}}
        </span>
      </label>
    </div>
  {{/each}}
  {{#if @helpText}}
    <p class="mt-2 text-sm text-gray-500">
      {{@helpText}}
    </p>
  {{/if}}
  <KbForm::Error
    @key={{@key}}
    @showErr={{this.showErr}}
    @validateMessage={{this.validateMessage}}
    @dataTestRole={{@dataTestRole}}
  />
</div>