<div>
  <KbForm::Label
    @key={{@key}}
    @label={{@label}}
    @required={{@required}}
    @showTick={{this.showTick}}
    @class={{@class}}
    @dataTestRole={{@dataTestRole}}
  >
    {{yield}}
  </KbForm::Label>
  <div class="mt-1">
    <div
      class="min-w-0"
      ...attributes
      {{did-insert this.setStartingValue}}
      {{data-test-attr "form-input" @dataTestRole @key}}
    >
      <PowerSelectMultiple
        @id={{@key}}
        @selected={{this.selectedValue}}
        @options={{@options}}
        @searchEnabled={{@searchEnabled}}
        @searchField={{@searchField}}
        @allowClear={{@allowClear}}
        @class={{@class}}
        @disabled={{@disabled}}
        @renderInPlace={{true}}
        @placeholder={{@placeholder}}
        @onChange={{this.changeValue}}
        @onClose={{this.touched}}
        as |opt|
      >
        {{get-select-option opt @searchField @valueField @options}}
      </PowerSelectMultiple>
    </div>
    {{#if @helpText}}
      <p class="mt-2 text-sm text-gray-500">
        {{@helpText}}
      </p>
    {{/if}}
    <KbForm::Error
      @key={{@key}}
      @showErr={{this.showErr}}
      @validateMessage={{this.validateMessage}}
      @dataTestRole={{@dataTestRole}}
    />
  </div>
</div>