<div>
  {{#if @label}}
    <KbForm::Label
      @key={{@key}}
      @label={{@label}}
      @required={{@required}}
      @showTick={{this.showTick}}
      @dataTestRole={{@dataTestRole}}
    >
      {{yield}}
    </KbForm::Label>
  {{/if}}
  <div class="mt-1">
    <Input
      @type={{this.type}}
      id={{@key}}
      name={{@key}}
      @value={{this.value}}
      max={{@max}}
      min={{@min}}
      disabled={{@disabled}}
      placeholder={{@placeholder}}
      ...attributes
      @keyUp={{this.touched}}
      class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
      {{on "change" this.touched}}
      {{did-insert this.setStartingValue}}
      {{data-test-attr "form-input" @dataTestRole @key}}
    />
  </div>
  {{#if @helpText}}
    <p class="mt-2 text-sm text-gray-500">
      {{@helpText}}
    </p>
  {{/if}}
  <KbForm::Error
    @key={{@key}}
    @showErr={{this.showErr}}
    @validateMessage={{this.validateMessage}}
    @dataTestRole={{@dataTestRole}}
  />
</div>