{{#unless @noButtons}}
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    {{#if @actionCancelHook}}
      <button
        alt="Cancel {{@buttonText}}"
        title="Cancel {{@buttonText}}"
        type="button"
        class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:ring-blue active:bg-blue-700 transition duration-150 ease-in-out"
        {{on "click" this.actionCancel}}
        {{data-test-attr "cancel-button" @dataTestRole}}
      >
        Cancel
      </button>
    {{/if}}
    <button
      alt="Submit {{@buttonText}}"
      title="Submit {{@buttonText}}"
      type="button"
      class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      ...attributes
      {{on "click" this.actionSubmit}}
      {{data-test-attr "submit-button" @dataTestRole}}
    >
      {{if @buttonText @buttonText "Submit"}}
    </button>
  </div>
{{/unless}}
{{yield}}