<KbForm::Fieldgroup @dataTestRole={{@dataTestRole}}>
  <div class={{if @inlineForm "lg:flex lg:items-center lg:mt-1"}}>
    <div>
      <KbForm::Label
        @key={{@key}}
        class="mx-2 -mt-3"
        @label={{@label}}
        @required={{@required}}
        @showTick={{this.showTick}}
        @dataTestRole={{@dataTestRole}}
        {{did-insert this.setStartingValue}}
      >
        {{yield}}
      </KbForm::Label>
    </div>
    <div class="flex flex-row flex-wrap">
      {{#each @tags as |tag|}}
        <div class="flex-none w-44 h-8">
          <div class="relative flex items-start">
            <div class="flex items-center h-5">
              <Input
                @type="checkbox"
                id="{{@key}}{{tag}}"
                name="{{@key}}{{tag}}"
                @checked={{is-tagged this.tagList tag}}
                class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded"
                disabled={{@disabled}}
                ...attributes
                {{on "click" (fn this.setTag tag)}}
                {{data-test-attr "form-input" @dataTestRole @key tag=tag}}
              />
            </div>
            <div class="mr-6">
              <div class="ml-3 text-sm">
                <label
                  for="{{@key}}{{tag}}"
                  class="font-medium text-gray-700"
                  title="Select one or more to filter the list"
                >
                  {{tag}}
                </label>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div>
    {{#unless @noNewTags}}
      {{#if this.showNewTags}}
        <KbForm::String
          @label="New {{@label}}"
          @key="new{{@key}}"
          @value={{this.newTags}}
          @disabled={{@disabled}}
          @placeholder="Add new {{@label}} separated by a comma"
          @changeHook={{this.setNewTags}}
          @showValidations={{@form.showValidations}}
          {{data-test-attr
            "form-input-newtags"
            @dataTestRole
            @key
            tag="newTags"
          }}
        />
      {{else}}
        <button
          type="button"
          title="Add new tags"
          {{on "click" (fn (mut this.addingNewTags) true)}}
          {{data-test-attr
            "form-button-newtags"
            @dataTestRole
            @key
            tag="newTags"
          }}
        >
          <FaIcon @icon="plus-circle" />
        </button>
      {{/if}}
    {{/unless}}
    {{#if @helpText}}
      <p class="mt-2 text-sm text-gray-500">
        {{@helpText}}
      </p>
    {{/if}}
  </div>
  <KbForm::Error
    @key={{@key}}
    @showErr={{this.showErr}}
    @validateMessage={{this.validateMessage}}
    @dataTestRole={{@dataTestRole}}
  />
</KbForm::Fieldgroup>