{{#if @label}}
  <KbForm::Label
    @key={{@key}}
    @label={{@label}}
    @required={{@required}}
    @showTick={{this.showTick}}
    @dataTestRole={{@dataTestRole}}
  >
    {{yield}}
  </KbForm::Label>
{{/if}}
<Textarea
  id={{@key}}
  name={{@key}}
  @value={{this.value}}
  disabled={{@disabled}}
  placeholder={{@placeholder}}
  maxlength={{@max}}
  rows={{@rows}}
  required={{@required}}
  class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
  ...attributes
  @keyUp={{this.touched}}
  {{on "change" this.touched}}
  {{did-insert this.setStartingValue}}
  {{data-test-attr "form-input" @dataTestRole @key}}
/>
{{#if @helpText}}
  <p class="mt-2 text-sm text-gray-500">
    {{@helpText}}
  </p>
{{/if}}
<KbForm::Error
  @key={{@key}}
  @showErr={{this.showErr}}
  @validateMessage={{this.validateMessage}}
  @dataTestRole={{@dataTestRole}}
/>