<KbForm::Label
  @for={{@key}}
  @label={{@label}}
  @required={{false}}
  @showTick={{this.showTick}}
  @dataTestRole={{@dataTestRole}}
>
  {{yield}}
</KbForm::Label>
{{#if this.disabled}}
  <KbWireframe::Main::ModelNotFound
    @message="The maximum number of uploads has been reached"
  />
{{else}}
  <FileDropzone
    @noDuplicates={{true}}
    @name={{@key}}
    @class="m-2 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md"
    ...attributes
    {{data-test-attr "form-input" @dataTestRole @key}}
    as |dropzone queue|
  >
    {{#if dropzone.active}}
      <div
        class={{if
          @dropZoneClass
          @dropZoneClass
          "mt-2 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md text-sm text-gray-500"
        }}
      >
        {{#if dropzone.valid}}
          Drop to upload
        {{else}}
          Invalid
        {{/if}}
      </div>
    {{else}}
      {{#if queue.files.length}}
        <KbTransition>
          <table
            class="w-full table-fixed border border-solid border-gray-300 text-xs divide-y divide-gray-200"
          >
            <thead class="bg-gray-50">
              <tr>
                <th class="text-left p-2">
                  Queue
                </th>
                <th class="text-left p-2">
                  Progress
                </th>
                <th class="w-24 text-left p-2">
                  Status
                </th>
                <th class="w-24"></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {{#each queue.files as |queued|}}
                <tr>
                  <td class="text-left px-2">
                    {{queued.name}}
                  </td>
                  <td class="text-left px-2">
                    <progress value={{queued.progress}} max="100">
                      {{queued.progress}}%
                    </progress>
                  </td>
                  <td class="w-30 text-left px-2">
                    {{queued.state}}
                  </td>
                  <td class="w-30 text-right px-2">
                    {{#if (is-equal queued.state "uploaded")}}{{else}}
                      <button
                        type="button"
                        class="inline-flex justify-center py-1.5 px-2.5 border border-transparent text-xs leading-5 font-small rounded-md text-blue-700 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:border-blue-700 focus:ring-blue-500 active:bg-blue-700 transition duration-150 ease-in-out"
                        {{on "click" (fn this.upload queued)}}
                        {{data-test-attr
                          "button-upload-file"
                          @dataTestRole
                          @key
                        }}
                      >
                        Upload
                      </button>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </KbTransition>
      {{/if}}
      <p class="text-center text-sm text-gray-500">
        <KbSvg::DragDrop />
        {{#if dropzone.supported}}
          <div class="m-3">
            Drag and drop onto this area to upload.
          </div>
        {{/if}}
        <FileUpload
          @name={{@key}}
          @for="upload-{{@key}}"
          @accept={{@accept}}
          @disabled={{this.disabled}}
          @multiple={{true}}
          @onfileadd={{action this.uploadIf}}
        >
          <a
            tabindex="0"
            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-blue-700 bg-blue-100 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          >
            Click to upload
            {{@fileType}}s
          </a>
        </FileUpload>
      </p>
    {{/if}}
  </FileDropzone>
  {{#if @helpText}}
    <p class="mt-2 text-sm text-gray-500">
      {{@helpText}}
    </p>
  {{/if}}
  <KbForm::Error
    @key={{@key}}
    @showErr={{this.showErr}}
    @validateMessage={{this.validateMessage}}
    @dataTestRole={{@dataTestRole}}
  />
{{/if}}