{{! If the component gets an '@icon', then style as a button.}}
<KbLink
  @route={{@route}}
  @models={{@models}}
  @model={{@model}}
  @dataTestId="tool-bar-tool"
  @dataTestRole={{@dataTestRole}}
  alt={{@anchorText}}
  class="{{this.tabClass}}"
  title={{@anchorText}}
  ...attributes
>
  {{#if this.isButton}}
    <FaIcon @icon={{@icon}} />
  {{/if}}
  {{#if @anchorText}}
    <span>
      {{@anchorText}}
      {{yield}}
    </span>
  {{else}}
    <span>
      {{yield}}
    </span>
  {{/if}}
</KbLink>