<button
  class="p-1 border rounded-sm bg-white bg-opacity-75"
  title="Click to sort {{@label}}"
  type="button"
  ...attributes
  {{on "click" this.actionSort}}
  {{did-insert this.actionSortPreset}}
  {{data-test-attr "sorter" @dataTestRole @key label=@label}}
>
  {{#if (is-equal this.dir "dsc")}}
    <FaIcon @icon="sort-amount-desc" />
  {{else if (is-equal this.dir "asc")}}
    <FaIcon @icon="sort-amount-asc" />
  {{else}}
    <FaIcon @icon="sort bg-grey-500" />
  {{/if}}
</button>