<KbBase::Header>
  <KbBase::Header::Profile>
    <div>
      <div class="flex items-center">
        <h1
          class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate"
        >
          Login
        </h1>
      </div>
      <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
        <dd class="flex items-center text-sm text-gray-500 font-medium sm:mr-6">
          To help keep your account secure, we need to verify it's you. Please
          sign in again to continue...
        </dd>
      </dl>
      <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
        <dd
          class="mt-3 flex items-center text-sm text-gray-500 font-medium sm:mr-6 sm:mt-0"
        >
          <LinkTo
            @route="login"
            class="group flex items-center py-2 font-medium rounded-md"
          >
            <KbSvg::Login @class="text-green-400" />
            Click here to login
          </LinkTo>
        </dd>
      </dl>
    </div>
  </KbBase::Header::Profile>
</KbBase::Header>
{{outlet}}