<KbBase::Header>
  <KbBase::Header::Profile>
    <div>
      <div class="flex items-center">
        <h1
          class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate"
        >
          Logging in
        </h1>
      </div>
      <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
        <dt class="sr-only">
          Logging in, please wait ...
        </dt>
        <dd class="flex items-center text-sm text-gray-500 font-medium sm:mr-6">
          <KbSvg::SpinningCircle />
          Please wait. In a few seconds you will be redirected to the dashboard
          ...
        </dd>
      </dl>
    </div>
  </KbBase::Header::Profile>
</KbBase::Header>
{{outlet}}