<li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
  <div class="w-0 flex-1 flex items-center">
    <KbSvg::PaperClip />
    <span class="ml-2 flex-1 w-0 truncate">
      {{@filename}}
    </span>
  </div>
  <div class="ml-4 flex-shrink-0">
    <a
      href="#"
      class="font-medium text-blue-600 hover:text-blue-500"
      {{on "click" (fn this.actionDownload @process)}}
    >
      Download
    </a>
  </div>
</li>