<div
  class="mb-2 mt-2 p-3 align-middle min-w-full shadow-md overflow-hidden font-medium text-gray-500 text-sm border border-gray-300 rounded-lg"
  {{data-test-attr "wireframe-main-model-not-found" @dataTestRole}}
>
  {{@message}}
  {{yield}}
</div>