<p
  class="mb-2 p-3 align-middle min-w-full shadow-md overflow-hidden border border-gray-300 rounded-lg"
  {{data-test-attr "wireframe-main-model-loading" @dataTestRole}}
>
  <KbSvg::SpinningCircle />
  <span class="text-sm">
    {{yield}}
  </span>
  <span class="sr-only">
    Loading...
  </span>
</p>