<KbWireframe>
  <KbWireframe::SideBar>
    <LinkTo @route="home" class="text-primary font-extrabold">
      KB Base Ember Addons
    </LinkTo>
    <LinkTo @route="confirmer">
      <i class="fa fa-thumbs-up fa-fw"></i>
      Example Confirmer
    </LinkTo>
    <LinkTo @route="dashboard">
      <i class="fa fa-dashboard fa-fw"></i>
      Example Dashboard
    </LinkTo>
    <LinkTo @route="form">
      <i class="fa fa-check-square fa-fw"></i>
      Example Form
    </LinkTo>
    <LinkTo @route="select">
      <i class="fa fa-check-square fa-fw"></i>
      Example Form Selects
    </LinkTo>
    <LinkTo @route="radio">
      <i class="fa fa-check-circle fa-fw"></i>
      Example Form Radio
    </LinkTo>
    <LinkTo @route="ckeditor">
      <i class="fa fa-edit fa-fw"></i>
      Example CKEditor
    </LinkTo>
    <LinkTo @route="filtering">
      <i class="fa fa-filter fa-fw"></i>
      Example Filtering
    </LinkTo>
    <LinkTo @route="groupby">
      <i class="fa fa-automobile fa-fw"></i>
      Example GroupBy
    </LinkTo>
    <LinkTo @route="paginator">
      <i class="fa fa-list-ul fa-fw"></i>
      Example Paginator
    </LinkTo>
    <LinkTo @route="upload">
      <i class="fa fa-file fa-fw"></i>
      Example Uploader
    </LinkTo>
  </KbWireframe::SideBar>
  <KbWireframe::Main @mainHeading="Kb Base Ember Addons for Dummy">
    {{outlet}}
  </KbWireframe::Main>
</KbWireframe>