<h2>
  Example CK editor
</h2>

<ExampleCkeditor
  @model={{@model.html}}
  @actionSaveHook={{this.controllerSubmitHook}}
/>

<h3>
  Tracking the Model
</h3>
<div class="box">
  {{@model.html.description}}
</div>

<h3>
  Value Submitted htmlSafe
</h3>
<div class="box">
  {{this.htmlValueSafe}}
</div>

<h3>
  Outside of a KbForm
</h3>

<KbForm::CkEditor />