<h2>
  Example Confirm Action
</h2>
<p>
  Would you like to try this action?
  <KbConfirmAction
    @faIconOk="check-circle"
    @faIconCancel="times-circle"
    @confirmMessage="Are you really really really sure?"
    @confirmHook={{this.buttonConfirm}}
  >
    Yeah, do it!
  </KbConfirmAction>
</p>