<h2>
  Example Dash
</h2>
<KbToolBar>
  <KbToolBar::Tool @@anchorText="Return" @route="home" @icon="reply" />
  <KbToolBar::Tool
    @anchorText="Example Form"
    @route="form"
    @icon="check-square"
  />
  <KbToolBar::Tool
    @anchorText="Example Paginator"
    @route="paginator"
    @icon="list-ul"
  />
  <KbToolBar::Tool
    @anchorText="Example Group By"
    @route="groupby"
    @icon="automobile"
  />
</KbToolBar>

<h2>
  Example Tabs
</h2>
<KbTabBar @small={{true}} @startTab="key2" @dataTestRole="toolBaX" as |tabBar|>
  <KbTabBar::Tabs>
    <KbTabBar::Tabs::Tab @tabBar={{tabBar}} @key="key1" @label="label1" />
    <KbTabBar::Tabs::Tab @tabBar={{tabBar}} @key="key2" @label="label2" />
    <KbTabBar::Tabs::Tab @tabBar={{tabBar}} @key="key3" @label="label3" />
  </KbTabBar::Tabs>
  <KbTabBar::Panels>
    <KbTabBar::Panels::Panel @tabBar={{tabBar}} @key="key1">
      Panel for label1
    </KbTabBar::Panels::Panel>
    <KbTabBar::Panels::Panel @tabBar={{tabBar}} @key="key2">
      Panel for label2
    </KbTabBar::Panels::Panel>
    <KbTabBar::Panels::Panel @tabBar={{tabBar}} @key="key3">
      Panel for label3
    </KbTabBar::Panels::Panel>
  </KbTabBar::Panels>
</KbTabBar>