<h2>
  Example Filtering
</h2>

<KbFilter @model={{@model}} as |kbFilter|>
  <KbFilter::String
    @key="make"
    @label="Make"
    @changeHook={{kbFilter.filter}}
    @dataTestRole={{@dataTestRole}}
  />
  <KbFilter::String
    @key="model"
    @label="Model"
    @changeHook={{kbFilter.filter}}
    @dataTestRole={{@dataTestRole}}
  />
  <KbFilter::Select
    @key="shape"
    @label="Shape"
    @options={{this.shapes}}
    @changeHook={{kbFilter.filter}}
    @dataTestRole={{@dataTestRole}}
  />
  <KbFilter::Taggit
    @key="colors"
    @label="Colors"
    @tags={{this.tags}}
    @changeHook={{kbFilter.filter}}
    @dataTestRole={{@dataTestRole}}
  />
  <KbFilter::Boolean
    @key="mot"
    @label="MOT"
    @value={{true}}
    @changeHook={{kbFilter.filter}}
    @dataTestRole={{@dataTestRole}}
  />
  <div>
    Make
    <KbSorter::String @key="make" @label="Make" @clickHook={{kbFilter.sort}} />
    Model
    <KbSorter::String
      @key="model"
      @label="Model"
      @clickHook={{kbFilter.sort}}
    />
    Shape
    <KbSorter::String
      @key="shape"
      @label="Shape"
      @clickHook={{kbFilter.sort}}
      @preset="asc"
    />
    MOT
    <KbSorter::Numerical @key="mot" @label="MOT" @clickHook={{kbFilter.sort}} />
  </div>
  <ul>
    {{#each kbFilter.filteredItemsSorted as |listItem|}}
      <li>
        {{listItem.make}}
        {{listItem.model}}
        {{listItem.shape}}
        {{listItem.colors}}
        {{listItem.mot}}
      </li>
    {{/each}}
  </ul>
</KbFilter>