<h2>
  Example Group By
</h2>
<table class="table-fixed">
  <thead>
    <tr class="bg-gray-400">
      <th class="text-right">
        Cars
      </th>
    </tr>
  </thead>
  <tbody>
    <KbGroupBy @groupBy="shape" @items={{this.model}} as |shapeList|>
      {{#each shapeList as |shapeGroup|}}
        <tr class="bg-gray-400">
          <th class="font-bold">
            {{shapeGroup.property}}
            {{shapeGroup.value}}
          </th>
        </tr>
        <KbGroupBy @groupBy="make" @items={{shapeGroup.items}} as |makeList|>
          {{#each makeList as |makeGroup|}}
            <tr class="bg-gray-400">
              <th class="font-bold">
                {{makeGroup.property}}
                {{makeGroup.value}}
              </th>
            </tr>
            {{#each makeGroup.items as |car|}}
              <tr>
                <td>
                  {{car.model}}
                </td>
              </tr>
            {{/each}}
          {{/each}}
        </KbGroupBy>
      {{/each}}
    </KbGroupBy>
  </tbody>
</table>
{{outlet}}