<h2>
  Example Quick Paginator
</h2>
<table class="table-fixed">
  <thead>
    <tr>
      <th align="left">
        Powels
      </th>
    </tr>
  </thead>
  <tbody>
    <KbQuickPaginator
      @id="ps"
      @paginateBy={{2}}
      @items={{this.model}}
      as |pList|
    >
      {{#each pList as |p|}}
        <tr>
          <td align="left">
            {{p}}
          </td>
        </tr>
      {{/each}}
    </KbQuickPaginator>
  </tbody>
</table>
{{outlet}}