<b>
  Primitive List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::Radio
    @placeholder="Select a Job"
    @key="job"
    @value={{@model.singlePrimitiveValue.job}}
    @options={{@model.primitiveJobs}}
    @valueField="id"
    @searchField="name"
    @optionsArePrimitive={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<br />

<b>
  Object List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::Radio
    @placeholder="Select a Job"
    @key="job"
    @value={{@model.singlePrimitiveIdValue.job}}
    @options={{@model.jobs}}
    @valueField="id"
    @searchField="name"
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

{{outlet}}