<b>
  Single: Primitive List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::Select
    @placeholder="Select a Job"
    @key="job"
    @value={{@model.singlePrimitiveListValue.job}}
    @options={{@model.primitiveJobs}}
    @optionsArePrimitive={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<hr />

<b>
  Single: Object Value / Object List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::Select
    @placeholder="Select a Job"
    @key="job"
    @value={{@model.singleObjectValue.job}}
    @options={{@model.jobs}}
    @valueField="id"
    @searchField="name"
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<hr />

<b>
  Single: Primitive Value / Object List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::Select
    @placeholder="Select a Job"
    @key="job"
    @value={{@model.singlePrimitiveValue.job}}
    @options={{@model.jobs}}
    @valueIsPrimitive={{true}}
    @valueField="id"
    @searchField="name"
    @searchEnabled={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<hr />

<b>
  Multi: Primitive List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::SelectMulti
    @placeholder="Select Jobs"
    @key="job"
    @value={{@model.multiPrimitiveListValue.job}}
    @options={{@model.primitiveJobs}}
    @optionsArePrimitive={{true}}
    @valueField="id"
    @searchField="name"
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<hr />

<b>
  Multi: Object Value / Object List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::SelectMulti
    @placeholder="Select Jobs"
    @key="job"
    @value={{@model.multiObjectValue.job}}
    @options={{@model.jobs}}
    @valueField="id"
    @searchField="name"
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<hr />

<b>
  Multi: Primitive Value / Object List
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::SelectMulti
    @placeholder="Select Jobs"
    @key="job"
    @value={{@model.multiPrimitiveValue.job}}
    @options={{@model.jobs}}
    @valueIsPrimitive={{true}}
    @valueField="id"
    @searchField="name"
    @searchEnabled={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<hr />

<b>
  Single: Primitive List / No Starting Value
</b>
<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{this.controllerSubmitHook}}
  as |form|
>
  <KbForm::Select
    @placeholder="Select a Job"
    @key="job"
    @value={{@model.singlePrimitiveNoValue.job}}
    @options={{@model.primitiveJobs}}
    @optionsArePrimitive={{true}}
    @valueField="id"
    @searchField="name"
    @allowClear={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>

<hr />

{{outlet}}