<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{@actionSubmitHook}}
  as |form|
>
  <KbForm::String
    @label="User Name"
    @key="userName"
    @value={{@model.userName}}
    @max={{10}}
    @min={{6}}
    @required={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
  <KbForm::Textarea
    @label="Describe Yourself"
    @key="description"
    @value={{@model.description}}
    @rows={{8}}
    @max={{140}}
    @min={{100}}
    @required={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
  <KbForm::Number
    @label="Score"
    @key="score"
    @value={{@model.score}}
    @max={{100}}
    @min={{0}}
    @required={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
  <KbForm::Date
    @label="DoB"
    @key="dob"
    @value={{@model.dob}}
    @changeHook={{form.actionToUpdateModelByKey}}
  />
  <KbForm::Boolean
    @label="Terms"
    @key="termsAccepted"
    @value={{@model.termsAccepted}}
    @required={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
  <KbForm::Select
    @label="Job"
    @placeholder="Select a Job"
    @key="job"
    @value={{@model.job}}
    @options={{@jobs}}
    @searchEnabled={{true}}
    @valueField="id"
    @searchField="name"
    @required={{true}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
  <KbForm::SelectMulti
    @label="Jobs"
    @placeholder="Select Jobs"
    @key="jobs"
    @value={{@model.jobs}}
    @options={{@jobs}}
    @searchEnabled={{true}}
    @valueField="id"
    @searchField="name"
    @required={{true}}
    @min={{1}}
    @max={{2}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
  <KbForm::Taggit
    @label="Taggit"
    @key="taggits"
    @value={{@model.taggits}}
    @tags={{@tags}}
    @required={{true}}
    @min={{1}}
    @max={{1}}
    @changeHook={{form.actionToUpdateModelByKey}}
    @showValidations={{form.showValidations}}
    @validateHook={{form.actionValidate}}
  />
</KbForm>