<PowerSelectMultiple
  @searchEnabled={{true}}
  @options={{@options}}
  @selected={{this.val}}
  @placeholder="Select some names..."
  @onChange={{fn (mut this.val)}}
  as |name|
>
  {{name.name}}
</PowerSelectMultiple>