<KbForm @actionSubmitHook={{@actionSubmitHook}}>
  <KbForm::CkEditor
    @key="description"
    @value={{@model.description}}
    @label="Page HTML"
    @required={{true}}
    @placeholder="Type and format some text."
    @changeHook={{this.actionToUpdateModelByKey}}
    @showValidations={{this.showValidations}}
    @validateHook={{this.actionValidate}}
  />
</KbForm>