<KbForm
  @legend="Please fill out required fields."
  @actionSubmitHook={{@actionSubmitHook}}
>
  <KbForm::Upload
    @key="fileList"
    @value={{@model.fileList}}
    @fileType="image"
    @accept="application/png"
    @label="Upload Images"
    @uploadUrl="/upload"
    @required={{true}}
    @min={{1}}
    @max={{20}}
    @allowBackgroundUpload={{true}}
    @changeHook={{this.actionToUpdateModelByKey}}
    @showValidations={{this.showValidations}}
    @validateHook={{this.actionValidate}}
    @dataTestRole={{@dataTestRole}}
  />
</KbForm>